Babel==2.6.0
backports.functools-lru-cache==1.5
Biryani==0.10.8
Click==7.0
cycler==0.10.0
dpath==1.4.0
enum34==1.1.6
Flask==1.0.2
Flask-Cors==3.0.2
future==0.17.1
gunicorn==19.9.0
isodate==0.6.0
itsdangerous==1.1.0
Jinja2==2.10
kiwisolver==1.0.1
MarkupSafe==1.1.0
matplotlib==2.2.3
numpy==1.14.6
-e git+https://github.com/lesmevesajudes/openfisca-barcelona.git@04cb9ec145128c62f851ebe0dfdaf031fcb60cb4#egg=OpenFisca_Barcelona
OpenFisca-Core==23.5.2
pandas==0.23.4
psutil==5.4.6
pyparsing==2.3.0
python-dateutil==2.7.5
pytz==2018.7
PyYAML==3.13
six==1.11.0
sortedcontainers==1.5.9
subprocess32==3.5.3
Werkzeug==0.14.1
